<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Um projeto feito para a prova de proficiência da matéria de Design Web do curso de Sistemas de informação - CEFET/NF">
    <meta name="author" content="Juan Victor Oliveira - github.com/JuanvictorO">
    <link rel="shortcut icon" type="image/png" href="../assets/img/favicon.png">
    <title>Notícias - Against Covid-19</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/noticias.css" rel="stylesheet">
</head>

<body>
    <!-- py-lg-3 py-2 px-1 px-md-3 -->
    <header id="header" class="navbar navbar-expand-lg fixed-top py-0">
        <div class="container">
            <div class="text-left d-lg-none">
                <a class="nav-link" href="../index.html">
                    <img class="img-fluid" width="150px" src="../assets/img/logo.png" alt="Logo" title="Logo">
                </a>
            </div>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="animated collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-lg-center text-left mr-auto ml-auto px-3 px-md-0">
                    <li class="nav-item nav-text animated fadeIn">
                        <a class="nav-link" href="prevencoes.html">Prevenções</a>
                    </li>
                    <li class="nav-item nav-text animated fadeIn">
                        <a href="noticias.html" class="nav-link">Notícias</a>
                    </li>
                    <li id="li-logo" class="nav-item animated fadeIn d-none d-lg-inline mx-5">
                        <a class="nav-link" href="../index.html">
                            <img id="logo" width="220px" src="../assets/img/logo.png" alt="Logo">
                        </a>
                    </li>
                    <li class="nav-item nav-text animated fadeIn">
                        <a class="nav-link" href="dados.html">Dados</a>
                    </li>
                    <li class="nav-item nav-text animated fadeIn">
                        <a class="nav-link" href="contato.html">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="principal">

    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">TRABALHO DE PROFICIÊNCIA - FUND. DA WEB</div>
                <div class="col-md-6 text-left text-md-right">AGAINST COVID-19 | TODOS OS DIREITOS RESERVADOS</div>
            </div>
        </div>
    </footer>
</body>

<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/line-cutter/line-cutter.min.js"></script>
<script src="../assets/js/noticias.min.js"></script>

</html>