<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Um projeto feito para a prova de proficiência da matéria de Design Web do curso de Sistemas de informação - CEFET/NF">
    <meta name="author" content="Juan Victor Oliveira - github.com/JuanvictorO">
    <link rel="shortcut icon" type="image/png" href="../assets/img/favicon.png">
    <title>Notícias - Against Covid-19</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/prevencoes.css" rel="stylesheet">
</head>

<body>
    <!-- py-lg-3 py-2 px-1 px-md-3 -->
    <header id="header" class="navbar navbar-expand-lg fixed-top py-0">
        <div class="container">
            <div class="text-left d-lg-none">
                <a class="nav-link" href="../index.html">
                    <img class="img-fluid" width="150px" src="../assets/img/logo.png" alt="Logo" title="Logo">
                </a>
            </div>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="animated collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-lg-center text-left mr-auto ml-auto px-3 px-md-0">
                    <li class="nav-item nav-text animated fadeIn">
                        <a class="nav-link" href="prevencoes.html">Prevenções</a>
                    </li>
                    <li class="nav-item nav-text animated fadeIn">
                        <a class="nav-link" href="noticias.html">Notícias</a>
                    </li>
                    <li id="li-logo" class="nav-item animated fadeIn d-none d-lg-inline mx-5">
                        <a class="nav-link" href="../index.html">
                            <img id="logo" width="220px" src="../assets/img/logo.png" alt="Logo">
                        </a>
                    </li>
                    <li class="nav-item nav-text animated fadeIn">
                        <a class="nav-link" href="dados.html">Dados</a>
                    </li>
                    <li class="nav-item nav-text animated fadeIn">
                        <a class="nav-link" href="contato.html">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="principal container text-center">
        <h3 class="title-corona color-2">Confira agora informações importantes sobre o vírus</h3>
        <button type="btn" class="btn btn-atention">ATENÇÃO</button>
        <div class="corona-resume">
            <h4>O QUE É O CORONAVÍRUS?</h4>
            <p>A doença provocada pelo novo Coronavírus é oficialmente conhecida como COVID-19, sigla em inglês para “coronavirus disease 2019” (doença por coronavírus 2019, em tradução livre).</p>
            <p>Vírus que causa doença respiratória pelo agente coronavírus, com casos inicialmente registrados na China e hoje espalhados por todo o mundo.</p>
            <p>Quadro pode variar de leve a moderado, semelhante a uma gripe. Alguns casos podem ser mais graves, por exemplo, em pessoas que já possuem outras doenças. Nessas situações, pode ocorrer síndrome respiratória aguda grave e complicações. Em casos
                extremos, pode levar a óbito.</p>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    SINTOMAS <img id="arrow1" class="arrow" src="../assets/img/icone-arrow.png" alt="arrow">
                  </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse body-collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>Sintomas mais comuns:</p>
                        <ul>
                            <li>Febre</li>
                            <li>Tosse seca</li>
                            <li>Cansaço</li>
                        </ul>
                        <p>Sintomas menos comuns:</p>
                        <p>
                            <ul>
                                <li>Tensão e dores musculares</li>
                                <li>Dores de garganta</li>
                                <li>Diarreia</li>
                                <li>Conjuntivite</li>
                                <li>Dor de cabeça</li>
                                <li>Perda de paladar ou olfato</li>
                                <li>Irritações na pele ou descoloração dos dedos das mãos ou dos pés</li>
                            </ul>
                        </p>
                        <p>Sintomas graves:</p>
                        <p>
                            <ul>
                                <li>Dificuldade respiratória ou falta de ar</li>
                                <li>Pressão ou dor no peito</li>
                                <li>Perda da fala ou capacidade motora</li>
                            </ul>
                        </p>
                        <p>Procure assistência médica imediata se tiver sintomas graves. Ligue sempre antes de se deslocar a uma instituição de saúde ou ao seu médico.</p>
                        <p>
                            As pessoas com sintomas ligeiros, mas de outra forma saudáveis, devem tratar-se em casa.</p>
                        <p>Em média, uma pessoa infetada com o vírus demora 5-6 dias a manifestar sintomas. No entanto, pode demorar até 14 dias.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    PREVENÇÕES <img id="arrow2" class="arrow" src="../assets/img/icone-arrow.png" alt="arrow">
                  </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse body-collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p>Para evitar a propagação da COVID-19</p>
                        <p>
                            <ul>
                                <li>Lave frequentemente as mãos. Utilize água e sabão, ou uma solução à base de álcool.</li>
                                <li>Mantenha uma distância segura de qualquer pessoa que estiver a espirrar ou tossir.</li>
                                <li>Use máscara sempre que o distanciamento físico não for possível.</li>
                                <li>Não toque nos olhos, no nariz ou na boca.</li>
                                <li>Cubra o nariz e a boca com o cotovelo fletido ou um lenço quando tossir ou espirrar.</li>
                                <li>Se se sentir doente, fique em casa.</li>
                                <li>Se tiver febre, tosse e dificuldade respiratória, procure assistência médica.</li>
                            </ul>
                        </p>
                        <p>Ao ligar antes de sair, permite que o seu prestador de cuidados de saúde o encaminhe rapidamente para a instituição de saúde certa. Isto assegura a sua proteção e evita a propagação de vírus e outras infeções.</p>
                        <p>Máscaras</p>
                        <p>As máscaras podem ajudar a evitar a propagação do vírus entre o respetivo portador e outras pessoas. O uso de máscara, por si só, não protege contra a COVID-19 e deve ser combinado com o distanciamento físico e a higiene das mãos.
                            Siga os conselhos partilhados pela sua autoridade de saúde local.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    TRATAMENTOS <img id="arrow3" class="arrow" src="../assets/img/icone-arrow.png" alt="arrow">
                  </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse body-collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>Até à data, não existem vacinas ou medicamentos específicos para a COVID-19. Estão a ser investigados possíveis tratamentos, que serão testados através de ensaios clínicos.</p>
                        <p>Autocuidado</p>
                        <p>Se se sentir doente, deve descansar, beber bastantes líquidos e fazer uma alimentação nutritiva. Fique numa divisão separada de outros familiares e, se possível, utilize uma casa de banho exclusiva. Limpe e desinfete as superfícies
                            em que toca frequentemente.</p>
                        <p>
                            Todas as pessoas devem manter um estilo de vida saudável em casa. Faça uma dieta saudável, durma, mantenha-se ativo e socialize com entes queridos através do telefone ou da Internet. As crianças precisam de carinho e atenção adicionais por parte dos adultos
                            durante alturas difíceis. Mantenha rotinas e horários regulares tanto quanto possível.</p>
                        <p>É normal sentir tristeza, tensão ou desorientação durante uma crise. Falar com pessoas em quem confia, como amigos e familiares, pode ajudar. Se sentir que a situação é demasiado para si, fale com um conselheiro ou um profissional
                            de saúde.</p>
                        <p>Tratamentos médicos</p>
                        <p>Se tiver sintomas ligeiros, mas for de outra forma saudável, fique em autoisolamento e contacte o seu médico ou uma linha de informações da COVID-19 para obter aconselhamento.</p>
                        <p>Se tiver febre, tosse e dificuldade respiratória, procure assistência médica. Ligue antes de sair.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">TRABALHO DE PROFICIÊNCIA - FUND. DA WEB</div>
                <div class="col-md-6 text-left text-md-right">AGAINST COVID-19 | TODOS OS DIREITOS RESERVADOS</div>
            </div>
        </div>
    </footer>
</body>

<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>